#avatar-content {
  padding: 20px;
}

#avatar-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#avatar-upload {
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

input[type="text"]:hover,
input[type="float"]:hover,
input[type="date"]:hover,
select:hover {
  background-color: #e8f0fe;
}

input[type="text"]:focus,
input[type="float"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
}

.admin-form-content,
#reservations-content {
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border: #367b35 2px solid;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.form-content {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .form-group {
  margin-bottom: 15px;
}

#delete-burger-form,
#update-menu-form {
  border-top: #333 1px solid;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"],
input[type="float"],
input[type="date"] {
  width: 100%;
  padding: 8px 10px;
  margin: 4px 0 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#allergens-select {
  width: 50%;
  height: 100px;
  padding: 8px 10px;
  margin: 4px 0 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#delete-burger {
  width: 50%;
  padding: 8px 10px;
  margin: 4px 0 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#add-burger-upload {
  margin-top: 3px;
  margin-bottom: 3px;
}

.form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

#add-burger-btn,
#add-menu-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

#delete-burger-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #b50b0b;
}
