* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #fdf8f1;
}

.container {
  width: 100%;
}

.banner_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(110, 233, 192);
  background-image: linear-gradient(
    to right,
    rgb(75, 119, 104),
    rgb(110, 233, 192)
  );
  padding: 2rem;
}

#add-special_offer-btn {
  margin-bottom: 5px;
}
#preview-special-offer {
  width: 100%;
  margin: auto;
  border: 5px rgb(84, 141, 122) solid;
  background-color: antiquewhite;
}

#preview-image {
  border-radius: 0;
}
.banner_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(110, 233, 192);
  background-image: linear-gradient(
    to right,
    rgb(51, 92, 78),
    rgb(110, 233, 192)
  );
  padding: 2rem;
}

img {
  max-width: 20%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5rem;
  border-color: rgb(84, 141, 122);
}

#frontpage-button {
  cursor: pointer;
  margin: auto;
  width: max-content;
  font-weight: bold;
  box-sizing: content-box;
  font-size: 48px;
  background-color: rgb(75, 119, 104);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  text-shadow: 2px 2px 2px rgb(184, 219, 207);
  color: rgb(19, 46, 37);
}

#frontpage-button:hover {
  background-color: rgb(184, 219, 207);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 7px;
}

h2 {
  justify-content: center;
}

.options-items {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.options-items a {
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  color: #333;
  text-decoration: none;
}

.options-items i {
  margin-right: 8px;
  color: #555;
  vertical-align: middle;
}

.options-items a:hover {
  color: #555;
  text-decoration: underline;
}

.sidebanner {
  width: fit-content;
  margin-left: 3rem;
}

.options-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: auto;
}

.form-group {
  margin: 1rem;
}

#submit-userinfo-update {
  margin: auto;
}

#user-avatar,
#avatar-file,
#avatar-submit,
#avatar-label {
  margin: auto;
  margin-top: 1rem;
}

.paragraph-button {
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(75, 119, 104);
  text-align: center;
  border-radius: 1rem;
  color: rgb(19, 46, 37);
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

#avatar-submit {
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(75, 119, 104);
  text-align: center;
  border-radius: 1rem;
  color: rgb(19, 46, 37);
}

#avatar-submit:hover {
  background-color: rgb(192, 226, 215);
}
table {
  margin: auto;
  border: 1px solid;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  font-size: 18px;
  padding: 5px;
  border: 1px solid;
}

td {
  padding: 5px;
  border: 1px solid;
}

#order-select {
  margin-top: 1rem;
}

#delete-account {
  background-color: red;
  color: white;
  font-size: 50px;
  animation: rotate360 1.2s linear infinite;  
  animation-play-state: paused;             
}

#delete-account:hover {
  background-color: rgb(95, 19, 19);
  animation-play-state: running;  
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }           
}

#order-history {
  margin: 1rem;
}


#active-orders{
  overflow-x: auto;
}

#update-order {
  margin-bottom: 1rem;
}

#user-avatar {
  max-width: 35%;
}

.menu_item_image {
  width: calc(50% - 0.5rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0 1rem 1rem 0;
  border: 5px rgb(84, 141, 122) solid;
}

.admin-only a {
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  color: #333;
  text-decoration: none;
}

#roleSelector {
  padding: 10px;
  margin: 1rem;
}

.admin-only {
  display: none;
}

@media (max-width: 800px) {
  .content-wrapper {
    display: block;
  }
  .sidebanner {
    margin: auto;
  }
  #user-avatar {
    max-width: 50%;
  }
  .options-input {
    width: 80%;
  }
  #frontpage-button {
    font-size: 24px;
  }

  th {
    font-size: 12px;
  }
}


@media (max-width: 400px) {
  .sidebanner {
    width: 30vw;
    height: 60vh;
  }
}