#tablesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
}

.table {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  background-color: #f4f4f4;
}

.table-management section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.table-management label {
  margin-right: 10px;
}

.table-management input[type="number"],
.table-management input[type="text"] {
  margin-bottom: 10px;
}

.table-management button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.table-management button:hover {
  background-color: #45a049;
}

#addTableForm,
#deleteTableForm {
  display: none;
}

.toggle-button {
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#dateSelector {
  margin-left: 20px;
}

#dayCarousel {
  display: flex;
  gap: 15vw;

  margin-left: 20px;
}

#loadReservationsForDate {
  padding: 10px;
  margin: 10px;
}

#previousDayBtn,
#nextDayBtn {
  margin-top: 98px;
}

#dayCarousel button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#dayCarousel button:hover {
  background-color: #367b35;
}

#reservationDetails {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid black;
  width: 80%;
}

#reservationDetails .reserved {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  margin: 5px 0;
  border-left: 5px solid #d9534f;
}

#reservationDetails .free {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin: 5px 0;
}

#currentTable {
  font-size: large;
  font-weight: bold;
}

#detailsContainer {
  display: flex;
}

#reservationModifications {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid black;
}

#reservationModifications input {
  margin: 5px;
}

#reservationModifications button {
  margin: 5px;
}
