<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/forms.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="../scripts/login.js" type="module"></script>
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <div class="banner_content">
          <img
            src="../placeholder.jpg"
            alt="placeholder"
            class="banner_image"
          />
          <p id="frontpage-button">Frontpage</p>
        </div>
      </div>

      <div class="content-wrapper">
        <div class="sidebanner">
          <div class="sidebanner_content">
            <h2 id="options-toggle">User Settings</h2>

            <div class="options-items">
              <ul>
                <li>
                  <a href="#" id="avatar-link"
                    ><i class="fas fa-user-circle"></i> My Avatar</a
                  >
                </li>
                <li>
                  <a href="#" id="contact_info-link"
                    ><i class="fas fa-address-card"></i> Contact Information</a
                  >
                </li>
                <li>
                  <a href="#" id="order_history-link"
                    ><i class="fas fa-history"></i> Order History</a
                  >
                </li>
                <li>
                  <a href="#" id="delete-account-link"
                    ><i class="fas fa-address-card"></i> Delete Account</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="admin-only" id="adminSection">
            <h2>Admin Settings</h2>
            <div class="admin-items">
              <ul>
                <li>
                  <a href="#" id="reservations-link"
                    ><i class="fas fa-user-shield"></i> Table reservations
                  </a>
                </li>
                <li>
                  <a href="#" id="admin_update_menu-link"
                    ><i class="fa-solid fa-burger"></i> Update menus</a
                  >
                </li>
                <li>
                  <a href="#" id="admin-order">
                    <i class="fa-regular fa-clock"></i> Active orders</a
                  >
                </li>
                <li>
                  <a href="#" id="admin_special_offers-link"
                    ><i class="fa-solid fa-clipboard-list"></i> Specials</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="options-input">
          <div id="avatar-content" class="form-content" style="display: none">
            <form id="avatar-form" class="form">
              <img src="../default.jpg" alt="useravatar" id="user-avatar" />
              <label for="avatar-file" id="avatar-label"
                >Upload new avatar:</label
              >
              <input
                type="file"
                id="avatar-file"
                name="file"
                accept="image/*"
              />
              <p id="avatar-submit" class="paragraph-button">Submit</p>
            </form>
          </div>
          <div
            id="reservations-content"
            class="form-content"
            style="display: none"
          >
            <object
              type="text/html"
              data="reservations.html"
              style="margin: 0 auto; width: 100%; height: 400px"
            ></object>
          </div>
          <div
            id="contact_info-content"
            class="form-content"
            style="display: none"
          >
            <form id="contact-info-form" class="form">
              <h3>Update Your Contact Information</h3>
              <div class="form-group">
                <label for="phone-number">Phone Number:</label>
                <input
                  type="tel"
                  id="phone-number"
                  name="phone-number"
                  placeholder="Enter your phone number"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                  title="Enter a phone number in the format: 123-456-7890"
                />
                <label for="email">Email Address:</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter your email address"
                />
                <label for="address">Address:</label>
                <input
                  type="text"
                  id="address"
                  name="address"
                  placeholder="Enter your address"
                />
                <label for="Cardnumber">Card number:</label>
                <input
                  type="text"
                  id="Cardnumber"
                  name="Cardnumber"
                  placeholder="Cardnumber"
                />
              </div>
              <button type="submit" id="submit-userinfo-update">Update</button>
            </form>
          </div>

          <div
            id="preferences-content"
            class="form-content"
            style="display: none"
          >
            <h3>Here you can select your favourite foods!</h3>
            <form id="preferences-form" class="form">
              <div class="form-group">
                <label for="food">Select your favourite food:</label>
                <select id="food" name="food" required>
                  <option value="pizza">Pizza</option>
                  <option value="burger">Burger</option>
                  <option value="pasta">Kebab</option>
                </select>
              </div>
            </form>
          </div>

          <div
            id="order_history-content"
            class="form-content"
            style="display: none"
          >
            <div id="order-history">
              <table id="history-table">
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </table>
            </div>
          </div>
          <div
            id="delete-account-content"
            class="form-content"
            style="display: none"
          >
            <p id="delete-account" class="paragraph-button">DELETE</p>
          </div>

          <div
            id="active-order-content"
            class="form-content"
            style="display: none"
          >
            <div id="active-orders">
              <table id="active-table">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Address</th>
                  <th>Phone number</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </table>
              <select id="order-select">
                <option value="Doing">Doing</option>
                <option value="Done">Done</option>
              </select>
              <p id="update-order" class="paragraph-button">Apply</p>
            </div>
          </div>

          <div id="bonus-content" class="form-content" style="display: none">
            <h3>Details about your personal bonus system</h3>
            <form id="bonus-form" class="form">
              <div class="form-group">
                <label for="bonus-points">Bonus Points:</label>
                <input
                  type="number"
                  id="bonus-points"
                  name="bonus-points"
                  placeholder="Enter your bonus points"
                  required
                />
              </div>
            </form>
          </div>
          <div
            id="admin-update-menu-content"
            class="admin-form-content"
            style="display: none"
          >
            <h3>Add a burger:</h3>
            <form id="add-burger-form" enctype="multipart/form-data">
              <div class="form-group">
                <label for="add-burger-name-id">Enter burger details</label>
                <input
                  type="text"
                  name="add-burger-name"
                  id="add-burger-name-id"
                  placeholder="Enter the name for a burger"
                  required
                />
                <input
                  type="text"
                  name="add-burger-description"
                  id="add-burger-description-id"
                  placeholder="Description"
                  required
                />
                <input
                  type="float"
                  name="add-burger-price"
                  id="add-burger-price-id"
                  placeholder="Price"
                  required
                />
                <label for="add-burger-upload">Add an image</label>

                <input
                  type="file"
                  name="add-burger-upload-name"
                  id="add-burger-upload"
                  accept="image/*"
                />
                <label for="ingredients-input">Add ingredients:</label>
                <input
                  type="text"
                  name="ingredients"
                  id="ingredients-input"
                  placeholder="Enter ingredients, separated by commas"
                />
                <label for="allergens-select">Select allergens:</label>
                <select name="allergens" id="allergens-select" multiple>
                </select>
              </div>
              <button type="submit" id="add-burger-btn">Add Burger</button>
            </form>

            <form id="delete-burger-form">
              <h3>Delete a burger:</h3>
              <div class="form-group">
                <label for="delete-burger">Select a burger to delete:</label>
                <select id="delete-burger" name="delete-burger" required>
                </select>
              </div>
              <button type="button" id="delete-burger-btn">
                Delete Burger
              </button>
            </form>

            <form id="update-menu-form">
              <h3>Add a menu:</h3>
              <div class="form-group">
                <label for="menu-burger">Select a burger: </label>
                <select id="menu-burger" name="menu-burger" required>
                </select>
                <label for="menu-date">Set menu date: </label>
                <input type="date" id="menu-date" name="menu-date" required />
              </div>

              <button type="submit" id="add-menu-btn">Add Menu</button>
            </form>
          </div>
          <div
            id="admin-special-offers-content"
            class="admin-form-content"
            style="display: none"
          >
            <h3>Add a special offer</h3>
            <form id="update-special_offer-form">
              <div class="form-group">
                <label for="special-offer-start-date"
                  >Start date for the special offer</label
                >
                <input
                  type="date"
                  id="special-offer-start-date"
                  name="special-offer-start-date"
                  required
                />
                <label for="special-offer-end-date"
                  >End date for the special offer</label
                >
                <input
                  type="date"
                  id="special-offer-end-date"
                  name="special-offer-end-date"
                  required
                />
                <label for="special-offer-name-id"
                  >Enter the name for the special offer</label
                >
                <input
                  type="text"
                  name="special-offer-name"
                  id="special-offer-name-id"
                  placeholder="Enter the name for your special offer"
                  required
                />
                <label for="special-offer-burger">Select a burger: </label>
                <select
                  id="special-offer-burger"
                  name="special-offer-burger"
                  required
                >
                </select>
                <input
                  type="text"
                  name="special-offer-description"
                  id="special-offer-description-id"
                  placeholder="Description"
                  required
                />
                <input
                  type="float"
                  name="special-offer-price"
                  id="special-offer-price-id"
                  placeholder="Price"
                  required
                />

                <input
                  type="file"
                  name="special-offer-upload-name"
                  id="special-offer-upload-id"
                  accept="image/*"
                />
              </div>
              <button type="submit" id="add-special_offer-btn">
                Add Offer
              </button>
            </form>
            <div id="preview-special-offer" class="offer-preview">
              <h4>Preview</h4>
              <p id="preview-date"></p>
              <p id="preview-burger"></p>
              <img
                src=""
                alt="Preview Image"
                id="preview-image"
                class="menu_item_image"
              />
              <p id="preview-name"></p>
              <p id="preview-description"></p>
              <p id="preview-price"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
