<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Reservations</title>
    <link rel="stylesheet" href="../styles/reservations.css" />
    <script src="../scripts/reservations.js" type="module" defer></script>
  </head>
  <body>
    <h1>Restaurant Reservations</h1>
    <div class="table-management">
      <section class="add-table">
        <h1>
          Add New Table
          <button class="toggle-button" id="toggleAddFormButton">
            Hide/Show
          </button>
        </h1>
        <form id="addTableForm">
          <fieldset>
            <legend>Table Details</legend>
            <label for="tableCapacity">Table seats:</label>
            <input
              type="number"
              id="tableCapacity"
              name="tableCapacity"
              required
            />
            <label for="tableLocation">Describe location:</label>
            <input
              type="text"
              id="tableLocation"
              name="tableLocation"
              required
            />
          </fieldset>
          <button type="submit" id="submitAddTableButton">Submit</button>
        </form>
      </section>
      <section class="delete-table">
        <h1>
          Delete Table by ID
          <button class="toggle-button" id="toggleDeleteFormButton">
            Hide/Show
          </button>
        </h1>
        <form id="deleteTableForm">
          <fieldset>
            <legend>Identification</legend>
            <label for="tableId">Table ID:</label>
            <input type="number" id="tableId" name="tableId" required />
          </fieldset>
          <button type="submit" id="submitDeleteTableButton">Delete</button>
        </form>
      </section>
    </div>

    <div id="tablesGrid">
    </div>
    <div id="dayCarousel">
      <button id="previousDayBtn">Previous</button>
      <div id="dateSelector">
        <h2>Select a Date</h2>
        <input type="date" id="reservationDate" />
        <button id="loadReservationsForDate">Load Reservations</button>
      </div>
      <button id="nextDayBtn">Next</button>
    </div>
    <div id="currentTable">Details for table:</div>
    <div id="detailsContainer">
      <div id="reservationDetails">
      </div>
      <div id="reservationModifications"></div>
    </div>
  </body>
</html>
